<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script type="text/javascript" th:src="@{/js/user/change_password.js}"></script>
</head>
<body ng-app="password" ng-controller="PasswordChangeCtrl">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" th:text="#{messages.menu.home}"></a></li>
        <li class="breadcrumb-item"><a href="/account" th:text="#{messages.menu.account}"></a></li>
        <li class="breadcrumb-item"><a href="/statistics" th:text="#{messages.menu.statistics}"></a></li>
        <li class="breadcrumb-item"><a href="/" th:href="@{/logout}" th:text="#{messages.menu.logout}"></a></li>

        <li class="breadcrumb-item" th:if="${isAdmin}">
            <a href="/admin" th:text="#{messages.menu.admin}"></a>
        </li>

        <li class="breadcrumb-item"><a th:href="@{/account?lang=en}">English</a></li>
        <li class="breadcrumb-item"><a th:href="@{/account?lang=ua}">Українська</a></li>
    </ol>
</nav>


<div class="container" style="margin-top: 60px">

    <div ng-show="showIncorrectPassword">
        <div class="alert alert-danger"><p th:text="#{messages.error.invalid.username.or.password}"></p>
        </div>
    </div>

    <div ng-show="showPasswordChanged">
        <div class="alert alert-info" th:text="#{messages.password.changed}"></div>
    </div>
    <form method="post" ng-submit="changePassword(passwordDto)">

        <div class="form-group">
            <label for="password" class="control-label" th:text="#{messages.password.old}"></label>
            <input id="password" class="form-control" type="password" ng-model="passwordDto.oldPassword"/>

        </div>

        <div class="form-group">
            <label for="new-password" class="control-label" th:text="#{messages.password.new}"></label>
            <input id="new-password" class="form-control" type="password" ng-model="passwordDto.newPassword"/>

        </div>


        <button type="submit" class="btn btn-success" th:text="#{messages.button.submit}"></button>
    </form>


</div>
</body>
</html>