<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="statistics" ng-controller="StatisticsCtrl">
<head>
    <meta charset="UTF-8">
    <title th:text="#{messages.menu.statistics}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <script src="https://cdn.rawgit.com/jtblin/angular-chart.js/0.8.8/dist/angular-chart.min.js"></script>


    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
    <script type="text/javascript" th:src="@{/js/user/statistics.js}"></script>

</head>
<body>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" th:text="#{messages.menu.home}"></a></li>
        <li class="breadcrumb-item"><a href="/account" th:text="#{messages.menu.account}"></a></li>
        <li class="breadcrumb-item"><a href="/statistics" th:text="#{messages.menu.statistics}"></a></li>
        <li class="breadcrumb-item"><a href="/" th:href="@{/logout}" th:text="#{messages.menu.logout}"></a></li>

        <li class="breadcrumb-item" th:if="${isAdmin}">
            <a href="/admin" th:text="#{messages.menu.admin}"></a>
        </li>

        <li class="breadcrumb-item"><a th:href="@{/statistics?lang=en}">English</a></li>
        <li class="breadcrumb-item"><a th:href="@{/statistics?lang=ua}">Українська</a></li>
    </ol>
</nav>

<div class="container" style="margin-top: 60px">


    <h2 class="page-header" th:text="#{messages.title.statistics.counting}"></h2>

    <table class="table" ng-init="getuserStat()">
        <thead class="thead-light" np-model="userStat">
        <tr>
            <th scope="col" th:text="#{messages.text.element}"></th>
            <th scope="col" th:text="#{messages.text.amount}"></th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="#{messages.enter.food.carbs}"></td>
            <td>{{userStat.carbs}}</td>
        </tr>
        <tr>
            <td th:text="#{messages.enter.food.protein}"></td>
            <td>{{userStat.protein}}</td>
        </tr>
        <tr>
            <td th:text="#{messages.enter.food.fat}"></td>
            <td>{{userStat.fat}}</td>
        </tr>
        <tr>
            <td th:text="#{messages.enter.food.calories}"></td>
            <td>{{userStat.calories}}</td>
        </tr>
        <tr>
            <td th:text="#{messages.calories.norm}"></td>
            <td>{{userStat.caloriesNorm}}</td>
        </tr>
        </tbody>
    </table>

    <h2 class="page-header" th:text="#{messages.title.statistics.chart}"></h2>
    <div ng-init="getCaloriesChartData(7)" style="width: 60%">
        <canvas id="base" class="chart-bar"
                chart-data="data" chart-labels="labels" chart-colors="colors">
        </canvas>

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" checked ng-click="getCaloriesChartData(7)"
                       th:text="#{messages.title.statistics.chart.days7}"></label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" ng-click="getCaloriesChartData(30)"
                       th:text="#{messages.title.statistics.chart.days30}"></label>
        </div>
    </div>

    <h2 class="page-header" th:text="#{messages.title.statistics.dates}"></h2>
    <div id="tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" ng-init="getTodaysFood()">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#tabs-1" role="tab" aria-controls="home"
                   aria-selected="true" th:text="#{messages.today}"></a>
            </li>

            <li class="nav-item" ng-init="getAllFood()">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tabs-2" role="tab" aria-controls="contact"
                   aria-selected="false" th:text="#{messages.all.time}"></a>
            </li>
        </ul>


        <div id="tabs-1">

            <table class="table" ng-model="todaysFood">
                <thead class="thead-light">
                <tr>
                    <th scope="col" th:text="#{messages.enter.food.name}"></th>
                    <th scope="col" th:text="#{messages.enter.food.amount}"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="food in todaysFood">
                    <td>{{food.foodName}}</td>
                    <td>{{food.amount}}</td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="" aria-label="Previous"
                           ng-click="todaysFoodPage=(todaysFoodPage>0)?todaysFoodPage-1:todaysFoodPage;getTodaysFood()">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only" th:text="#{messages.previous}"></span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="" th:text="#{messages.button.first}"
                                             ng-click="todaysFoodPage=0;getTodaysFood()"></a></li>
                    <li class="page-item"><a class="page-link" href="" th:text="#{messages.button.last}"
                                             ng-click="todaysFoodPage=todaysFoodPageMax;getTodaysFood()"></a></li>
                    <li class="page-item">
                        <a class="page-link" href="" aria-label="Next"
                           ng-click="todaysFoodPage=(todaysFoodPage<todaysFoodPageMax)?todaysFoodPage+1:todaysFoodPage;getTodaysFood()">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only" th:text="#{messages.next}"></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>


        <div id="tabs-2">

            <table class="table" ng-model="allFood">
                <thead class="thead-light">
                <tr>
                    <th scope="col" th:text="#{messages.enter.food.name}"></th>
                    <th scope="col" th:text="#{messages.enter.food.amount}"></th>
                    <th scope="col" th:text="#{messages.enter.food.date}"></th>
                    <th scope="col" th:text="#{messages.enter.food.time}"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="food in allFood">
                    <td>{{food.foodName}}</td>
                    <td>{{food.amount}}</td>
                    <td>{{food.date}}</td>
                    <td>{{food.time}}</td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="" aria-label="Previous"
                           ng-click="foodPage=(foodPage>0)?foodPage-1:foodPage;getAllFood()">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only" th:text="#{messages.previous}"></span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="" th:text="#{messages.button.first}"
                                             ng-click="foodPage=0;getAllFood()"></a></li>
                    <li class="page-item"><a class="page-link" href="" th:text="#{messages.button.last}"
                                             ng-click="foodPage=foodPageMax;getAllFood()"></a></li>
                    <li class="page-item">
                        <a class="page-link" href="" aria-label="Next"
                           ng-click="foodPage=(foodPage<foodPageMax)?foodPage+1:foodPage;getAllFood()">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only"  th:text="#{messages.next}"></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>


</div>


</body>
</html>